rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /spaces/{spaceId}/photos/{photoId} {
      allow read, write: if request.auth != null &&
        firestore.exists(/databases/(default)/documents/spaces/$(spaceId)/members/$(request.auth.uid));
    }
  }
}
